@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --font-body: "Roboto", Arial, sans-serif;
  /* colors */
  --primary-color: #5f3333; /* rampant rhubarb */
  --secondary-color: #cbb26a; /* canadian mapple */
  --tertiary-color: #804545; /* sly fox */
  --asparagus-yellow: #d8c690;
  --underbrush: #be9244;

  /* sizes */
  --font-base: 16px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-template-columns: 170px auto;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: var(--font-base);
  font-family: var(--font-body);
}

@media screen and (min-width: 576px) {
  body.homepage {
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
    grid-template-columns: 170px auto;
  }
}

header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--tertiary-color);
  color: #fff;
}

footer {
  grid-area: footer;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: var(--tertiary-color);
  color: white;
}

main {
  grid-area: main;
  background-color: #eee;
}

header #logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

nav {
  grid-area: nav;
  background-color: #e0e0e0;
  /* background-color: var(--tertiary-color); */
  /* color: #ffffff; */
}

#search-container {
  width: 50%;
}

#movie-search {
  width: 100%;
  padding: 5px;
}

nav.navigation {
  position: absolute;
  top: 70px;
  width: 170px;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
}

nav.navigation.active {
  transform: translateX(0);
}

@media screen and (min-width: 576px) {
  nav.navigation {
    position: relative;
    top: 0;
    transform: translateX(0);
  }
}

.navigation > div {
  padding: 20px 10px;
}

#menu-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  #menu-button {
    display: none;
  }
}

.navigation .categories {
  border-bottom: 2px solid var(--primary-color);
}

.navigation__title {
  font-size: 14px;
  margin-bottom: 8px;
  /* color: var(--secondary-color); */
}

.navigation__list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding-left: 15px;
  list-style-position: inside;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.hero__img {
  grid-area: 1 / 1;
  position: relative;
}

.hero__img::after {
  content: "";
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.hero__content {
  grid-area: 1 / 1;
  justify-self: center;
  align-self: center;
  color: white;
  z-index: 1;
}

.hero__content h1 {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
}

.upcoming {
  padding: 30px 10px;
}

.upcoming__title {
  margin-bottom: 20px;
  text-align: center;
  color: var(--tertiary-color);
  font-weight: 800;
}

#upcoming__movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  position: relative;
  width: 300px;
  height: 520px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
}

.movie-card__img {
  height: 90%;
}

.movie-card__info {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
  font-size: 13px;
}

.movie-card__info h3 {
  width: 80%;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  font-weight: 800;
}

.movie-card__info span {
  display: block;
  width: min-content;
  text-align: left;
  font-weight: 800;
}

.movie-card__overview {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  color: #000;
  transform: translateY(101%);
  transition: transform 0.25s ease-in;
}

.movie-card__overview h3 {
  margin-bottom: 10px;
}

.movie-card__overview p {
  text-align: left;
}

.movie-card:hover .movie-card__overview {
  transform: translateY(0%);
  font-size: 15px;
}

/* genre page */

.genre-page main {
  padding: 30px 0;
}

.movie-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-color);
}

/* Authentication page */

body.auth main {
  text-align: center;
  padding: 30px 10px;
}

body.auth h1 {
  margin-bottom: 20px;
}

.movie-card__info span.green{
  color: green
}

.movie-card__info span.orange{
  color: orange
}

.movie-card__info span.red{
  color: red
}
